@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  height: 100%;
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  min-height: 100%;
}

.header{
  grid-area: header;
  background-color: #9c88ff;
}

.nav{
  grid-area: navbar;
  background-color: #fbc531;
}

.aside{
  grid-area: sidebard;
  background: #44bd32;
}

.main{
  grid-area: main;
  background: #7f8fa6;
}

.footer{
  grid-area: footer;
  background: #e84118;
}

.grid-container > *{
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding: 10px;
  text-align: center;
}

.grid-container{
  display: grid;
  gap: 10px;
  grid-template-areas:
  "header"
  "navbar"
  "main"
  "sidebard"
  "footer"
}

@media (min-width: 600px) {
  .grid-container{
    grid-template-columns: 200px auto;
    grid-template-rows: 100px 50px auto 100px;

    grid-template:
    "header header" 100px
    "navbar navbar" 50px
    "sidebard main" auto
    "footer footer" 100px /
    200px auto;
  }
}
